Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

In [19]:
import pandas as pd
df =[4,8,15,16,23,42]
series =pd.Series(df)
print(series)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the
variable print it.

In [23]:
list = [23,34,45,56,54,43,32,34,45,56]
series =pd.Series(list)
print(series)

0    23
1    34
2    45
3    56
4    54
5    43
6    32
7    34
8    45
9    56
dtype: int64

In [26]:
df2 ={
    "Name":["Alice" ,"BOb","Clair"],
    "Age":[25,30,27],
    "Gender":["Female", "Male", "Female"]
}
df = pd.DataFrame(df2)

print(df)

    Name  Age  Gender
0  Alice   25  Female
1    BOb   30    Male
2  Clair   27  Female

Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.

In Pandas, a DataFrame is a two-dimensional tabular data structure that can store and manipulate data. It is similar to a table or a spreadsheet, where data is organized in rows and columns. The DataFrame provides a powerful and flexible way to work with structured data.

A DataFrame can be thought of as a collection of Series objects, where each column represents a Series. Each column can have a different data type (e.g., integer, float, string) but within a column, all values must have the same data type. This structure allows for efficient data manipulation and analysis.

Here's an example to illustrate the difference between a DataFrame and a Series:

In [27]:
import pandas as pd

# Creating a Series
series = pd.Series([1, 2, 3, 4, 5])

# Creating a DataFrame
data = {'Name': ['John', 'Emily', 'Charlie', 'Sarah', 'Michael'],
        'Age': [25, 28, 32, 29, 35],
        'City': ['New York', 'London', 'Paris', 'Sydney', 'Tokyo']}
df = pd.DataFrame(data)

print("Series:")
print(series)
print("\nDataFrame:")
print(df)

Series:
0    1
1    2
2    3
3    4
4    5
dtype: int64

DataFrame:
      Name  Age      City
0     John   25  New York
1    Emily   28    London
2  Charlie   32     Paris
3    Sarah   29    Sydney
4  Michael   35     Tokyo

Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can
you give an example of when you might use one of these functions?

Here are some common functions that you can use:

head() and tail(): These functions allow you to view the top or bottom rows of a DataFrame, respectively. They are useful for quickly inspecting the structure and content of the DataFrame.

    
columns and index: These attributes allow you to access the column names and index labels, respectively.
    
drop(): This function is used to remove specified rows or columns from the DataFrame. It helps in eliminating unnecessary or redundant data.
        
sort_values(): This function is used to sort the DataFrame based on one or more columns. It allows you to order the data based on a particular criterion.
    
apply(): This function is used to apply a function to each element or row/column of the DataFrame. It enables custom transformations or computations on the data.

describe(): This function generates descriptive statistics of the DataFrame, such as count, mean, standard deviation, minimum, maximum, and quartile values. It gives a statistical summary of the numerical columns.

In [29]:
import pandas as pd

data = {'Name': ['John', 'Emily', 'Charlie', 'Sarah', 'Michael'],
        'Age': [25, 28, 32, 29, 35],
        'City': ['New York', 'London', 'Paris', 'Sydney', 'Tokyo']}
df = pd.DataFrame(data)

summary = df.describe()
print(summary)

             Age
count   5.000000
mean   29.800000
std     3.834058
min    25.000000
25%    28.000000
50%    29.000000
75%    32.000000
max    35.000000

Q6. Which of the following is mutable in nature Series, DataFrame, Panel?

In Pandas, a DataFrame is mutable, which means it can be modified after creation. You can change values in existing columns, add or remove columns, and perform various operations to alter the structure and content of the DataFrame.

On the other hand, both Series and Panel objects in Pandas are immutable. Once created, their values cannot be modified directly. If you want to update a Series or Panel, you would need to create a new object with the desired changes.

To summarize:

Series: Immutable (values cannot be modified directly)

DataFrame: Mutable (values can be modified)

Panel: Immutable (values cannot be modified directly)

Q7. Create a DataFrame using multiple Series. Explain with an example.

In [35]:
import pandas as pd

names = pd.Series(['Alak Sir', 'Sunny Sir', 'Hitesh sir', 'Sudhanshu Sir', 'Vishwa Mohan sir'])
salary = pd.Series([95000, 28000, 32000, 29000, 35000])
desgination = pd.Series(['Chairman', 'Data Scientist', 'CTO', 'CEO', 'CIO'])

data = {'Name': names, 'Salary': salary, 'Designation': desgination}
df = pd.DataFrame(data)

print(df)

               Name  Salary     Designation
0          Alak Sir   95000        Chairman
1         Sunny Sir   28000  Data Scientist
2        Hitesh sir   32000             CTO
3     Sudhanshu Sir   29000             CEO
4  Vishwa Mohan sir   35000             CIO